$transparent: #00000000;

$back-color: #f5f5f5;
$back-color-hover: #00000033;
$back-color-active: #00000055;
$back-color-disabled: #f9f9f9 !important;

$face-color: #4d4e4e;
$face-color-hover: #157cb1;
$face-color-active: #056192;
$face-color-disabled: #989898 !important;

$animation-time: 0.15s;

@mixin item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  background: $back-color;
  color: $face-color;
  transition: background $animation-time ease-out, color $animation-time ease-out;

  .icon {
    background: $face-color;
  }
  
  &.disabled {
  user-select: none;
  cursor: not-allowed;
  background: $back-color-disabled;
  color: $face-color-disabled;
    .icon {
      background: $face-color-disabled;
    }
  }

  &:hover {
    background: $back-color-hover;
    color: $face-color-hover;
    .icon {
      background: $face-color-hover;
    }
  }
  &:active {
    background: $back-color-active;
    color: $face-color-active;
    .icon {
      background: $face-color-active;
    }
  }
}
