<transition name="component-fade" mode="out-in">
  <keep-alive>
    <component :is="id" :presenter="presenter" :eventBus="eventBus"></component>
  </keep-alive>
</transition>

<style scoped>
.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .15s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>