<div class="bootstrap">
  <p>Loading...</p>
</div>

<style scoped>
.bootstrap {
  flex-grow: 1;
  min-height: 800px;
  background: #9ca8a8 url(/res/bg-nl.png) no-repeat center;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
