<aer-main :navConfig="navigation" :eventBus="eventBus">
  <component :is="input" :presenter="subPresenter"></component>
  <div slot="main" id="main">
    <component :is="main"></component>
  </div>
</aer-main>
