<a class="item"
  v-bind:class='map("active", isActive)'
  @click.prevent="item.getAction().accept(item)"
  v-bind:href="item.getHref()">
  {{ item.getName()) }}
</a>

<style scoped lang="scss">
.item {
  display: block;
  color: #222;

  &.active {
    color: red;
    font-weight: bold;
    text-decoration: none;
  }
}
</style>