<div id="app">
  <aer-nav :config="navConfig" id="aer-nav" :eventBus="eventBus"> </aer-nav>
  <div id="aer-content">
    <slot></slot>
  </div>
  <div>
    <p>Main:</p>
    <slot name="main"></slot>
  </div>
</div>
