@import "../variables.scss";

#overview {
  flex-grow: 1;

  .top {
    display: flex;
    flex-flow: row-reverse;
    padding: 20px;
  }

  .library {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 180px;
    grid-gap: 4px;

    .item {
      @include item;

      .icon {
        width: 64px;
        height: 64px;
      }

      .label {
        font-size: 1.3em;
        text-align: center;
      }
    }
  }
}
