<default-title-view title="List view">
  <p>On this page:</p>
  <ul>
    <li>Button to [import] page</li>
    <li>primary dummy in middle</li>
    <li>Secondary dummy in main</li>
  </ul>
  <p>Actual list content</p>
  <button @click='presenter.goToImport()'>Import</button>
  <dummy></dummy>
</default-title-view>
